<h1 class="title">Reporte de Tabla de Errores</h1>

<div class="container">
    <div class="tabla col-md-4">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <td>No</td>
                    <td>Descripcion</td>
                    <td>Ámbito</td>
                    <td>Línea</td>
                    <td>Column</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Tienda</td>
                    <td>4</td>
                    <td>58</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>